::selection {
  background-color: #3c9130;
  color: #fff;
}

*,*:focus,*:hover{
  outline:none;
}

@font-face {
  font-family: 'CeraGR';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Cera\ GR\ Bold.woff') format('woff');
}

@font-face {
  font-family: 'CeraGR';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url('../fonts/Cera\ GR\ Black.woff') format('woff');
}

@font-face {
  font-family: 'CeraGR';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url('../fonts/Cera\ GR\ Thin.woff') format('woff');
}

@font-face {
  font-family: 'CeraGR';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/Cera\ GR\ Light.woff') format('woff');
}

@font-face {
  font-family: 'CeraGR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/Cera\ GR.woff') format('woff');
}

@font-face {
  font-family: 'CeraGR';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/Cera\ GR\ Medium.woff') format('woff');
}

@font-face {
  font-family: Smitta-Bali;
  src: url('../fonts/Smitta-Bali-dafont.ttf') format('truetype');
  font-weight: normal;
}

.loading-text {
  display: inline-block;
  top: calc(50% + 20px);
  position: fixed;
  z-index: 1;
  color: #3c9130;
}

.loading-text:after {
  content: '.';
  animation: dots 1s steps(5, end) infinite;
}

.loading-text-b {
  display: unset;
  top: unset;
  position: unset;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: #3c9130;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 #3c9130, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 #3c9130, 0.5em 0 0 #3c9130;
  }
}

section[style] {
  opacity: 1 !important;
}

.intl-tel-input:focus {
  outline: none;
}

.intl-tel-input input {
  width: 100%;
  min-width: 0px;
  outline: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: var(--chakra-fontSizes-xs);
  -webkit-padding-start: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-end: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  height: var(--chakra-sizes-14);
  border-radius: 0px;
  border: 1px solid;
  border-color: inherit;
  background: inherit;
  padding-top: var(--chakra-space-2);
  border-width: 1px;
  background-color: var(--chakra-colors-white);
}

.intl-tel-input.allow-dropdown .country-list {
  position: relative;
  z-index: 2;
}

.intl-tel-input.allow-dropdown .selected-flag {
  padding-top: 8px;
  padding-left: 14px;
}

.intl-tel-input.allow-dropdown .selected-flag:hover {
  background-color: transparent !important;
}

@media screen and (min-width: 62em) {
  .intl-tel-input input {
    font-size: var(--chakra-fontSizes-sm);
  }
}

