::selection {
  background-color: #3c9130;
  color: #fff;
}

*,
*:focus,
*:hover {
  outline: none;
}


::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background:  rgba(49,188,46, 0.5);
  border-radius: 24px;
}



@font-face {
  font-family: "CeraPro";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CeraPro-Thin.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CeraPro-Light.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CeraPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CeraPro-Medium.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CeraPro-Bold.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro";
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/CeraPro-Black.otf") format("opentype");
}


.loading-text {
  display: inline-block;
  top: calc(50% + 20px);
  position: fixed;
  z-index: 1;
  color: #3c9130;
}

.star-ratings{
  font-size: 24px !important;
}

.loading-text:after {
  content: ".";
  animation: dots 1s steps(5, end) infinite;
}

.loading-text-b {
  display: unset;
  top: unset;
  position: unset;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  40% {
    color: #3c9130;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  60% {
    text-shadow: 0.25em 0 0 #3c9130, 0.5em 0 0 rgba(0, 0, 0, 0);
  }

  80%,
  100% {
    text-shadow: 0.25em 0 0 #3c9130, 0.5em 0 0 #3c9130;
  }
}

/*body {*/
/*  height: 100vh;*/
/*  !*overflow: hidden !important;*!*/
/*}*/

/*#root {*/
/*  height: 100vh;*/
/*  overflow-y: hidden;*/
/*  overflow-x: hidden;*/
/*}*/

section[style] {
  opacity: 1 !important;
}

@media only screen and (max-width: 415px) {
 
  #myscrollbar{
    height: 15.455rem !important;
  }
}

@media only screen and (max-width: 768px) {
 
  #myscrollbar{
    height: 35.563rem !important;
  }
}


@media only screen and (max-width: 1024px) {
 
  #myscrollbar{
    height: 45.563rem !important;
  }
}

@media only screen and (max-width: 1300px) {
 
  #myscrollbar{
    height: 39.996rem !important;
  }
}

.intl-tel-input:focus {
  outline: none;
}

.intl-tel-input input {
  width: 100%;
  min-width: 0;
  outline: 0;
  position: relative;
  appearance: none;
  transition: all 0.2s;
  font-size: var(--chakra-fontSizes-xs);
  padding-inline-start: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  height: var(--chakra-sizes-14);
  border-radius: 0px;
  border: 1px solid;
  border-color: inherit !important;
  background: inherit;
  padding-top: var(--chakra-space-2);
  border-width: 1px;
  background-color: var(--chakra-colors-white);
}

.intl-tel-input.allow-dropdown .country-list {
  position: relative;
  z-index: 2;
}

.intl-tel-input.allow-dropdown .selected-flag {
  padding-top: 8px;
  padding-left: 14px;
}

.intl-tel-input.allow-dropdown .selected-flag:hover {
  background-color: transparent !important;
}

.farm-board:link {
  color: #718096;
  background-color: transparent;
  text-decoration: none;
}

.farm-board:visited {
  color: #718096;
  background-color: transparent;
  text-decoration: none;
}

.farm-board:hover {
  color: #3c9130;
  background-color: transparent;
  text-decoration: underline;
}

.farm-board:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

@media screen and (min-width: 62em) {
  .intl-tel-input input {
    font-size: var(--chakra-fontSizes-sm);
  }
}
